<!DOCTYPE html>
<html>
  <head>
    <title>users</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <ul>
      <% users.forEach((user)=> { %>
          <li >
              <h2 >
                  <%= user.username %>
              </h2>
              <p>
                <%= user.id %>
              </p>
              <p>
                  <%= user.email %>
              </p>
              <button>Edit</button>
              <button>Delete</button>
              <button onclick="window.location.href='/users/<%= user.id %>'">Show</button>
          </li>
          <hr />
      <% }) %>
      </ul>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
  </body>
</html>