<!DOCTYPE html>
<html>
  <head>
    <title>users</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <div>
      <h3><%= user.username %></h3>
      <p><%= user.email %></p>
      <hr>
      <h4>contacts</h4>
      <p><%= user.address.street %></p>
      <p><%= user.address.city %></p>
      <p><%= user.phone %></p>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>  
  </body>
</html>